@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&display=swap');

$brownzer: rgb(62, 50, 32);
$whip: papayawhip;
$puregold: rgb(247, 208, 36);
$coneOrange: rgba(255, 166, 0, 0.85);

#cont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; 
    min-width: 200px;    
    border-bottom: 5px solid $coneOrange;
    box-shadow: 5px 5px 5px $coneOrange;
    padding: 0.25em;
}

#iconRow {
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#text {
    font-family: Josefin Sans, serif; 
    color: $puregold;
    font-weight: bolder;
}

#inputColumn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#input {
    width: 50px; 
    background-color: $whip;
    border-radius: 20%;
    max-width: 20%;
    color: $brownzer;
    font-family: Josefin Sans;
}

#input:focus { outline: none; }

#img {
    height: 50px;
    width: 50px;
    opacity: 0.5;
    // border-radius: 50%;
}
#img:hover { cursor: none; opacity: 1.0; }

.ghost { opacity: 0.5; color: $whip; }
