.div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;    
    
    background-color: rgb(62, 50, 32);
    // border: 5px solid orange;
}

.Row {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 35vw;
    min-width: 35vw;
    
    
    div {
        margin: 0 2.2em;
        padding: 1em 0.75em;
        text-align: center;
        box-shadow: 10px 10px 10px rgb(247, 208, 32);    

        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        color: papayawhip;
        letter-spacing: 0.165em;
        // letter-spacing: 0.75em;
        // border: 3px solid papayawhip;            
        // border: 3px solid rgb(247, 208, 36);            
    }
    
    .GameBox {        
        background-size: 50%;
        border: 5px solid orange;
        color: white;
        // style={{ backgroundImage: `url('img/ring.png')`, backgroundSize: '5%'}}
    }
}
 
.ColumnParent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 30vh;    
    // border: 5px solid pink;
    border-left: none;
    border-top: none;
    box-shadow: none;
}

.Row2 {
    padding: 0;
    min-height: 10vh;    
    display: flex;
    justify-content: center;
    align-items: center;    
    // div {    
    // }
}

.GameChild {
    height: 13%;
    width: 44%;
    // height: 3em;
    // width: 13rem;
    // height: 200px;
    // width: 400px;
    color: papayawhip;
    display: grid;
    grid-gap: 1.25em;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    // border: 5px solid papayawhip;
    box-shadow: 10px 10px 10px rgb(247, 208, 32);    
    border: 3px solid rgb(247, 208, 36);    
}


