    .div {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        min-height: 100vh;
        min-width: 100vw;    
        // padding: 0;
        // margin: 0 auto;
        background-color: rgb(62, 50, 32);
        // border: 5px solid orange;
    }

    .Row {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 35vw;
        min-width: 35vw;
        
        
        div {
            margin: 0 2.2em;
            padding: 1em 0.75em;
            text-align: center;
            box-shadow: 10px 10px 10px rgb(247, 208, 32);    

            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
            color: papayawhip;
            letter-spacing: 0.165em;
            // letter-spacing: 0.75em;
            // border: 3px solid papayawhip;            
            // border: 3px solid rgb(247, 208, 36);            
        }
        
        .GameBox {        
            background-size: 50%;
            border: 5px solid orange;
            color: white;
            // style={{ backgroundImage: `url('img/ring.png')`, backgroundSize: '5%'}}
        }
    }
    
    .ColumnParent {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        min-height: 30vh;    
        // border: 5px solid pink;
        border-left: none;
        border-top: none;
        box-shadow: none;
    }

    .Row2 {
        padding: 0;
        min-height: 10vh;    
        display: flex;
        justify-content: center;
        align-items: center;    
        // div {    
        // }
    }

    .GameChild {
        height: 5rem;
        width: 30%;
        color: papayawhip;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;       
        // box-shadow: 10px 10px 10px rgb(247, 208, 32);    
        // border: 3px solid rgb(247, 208, 36);    
    }

    .coin {
        height: 3em;
        width: 3em;
        margin: 0 3.25em;
        
        // height: 1em;
        // width: 1em;
    }

    .mine {
        height: 3em;
        width: 3em;
        margin: 0 1.25em;
        // height: 1em;
        // width: 1em;
    }
