@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&display=swap');

$puregold: rgb(247, 208, 36);

#cont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50vh !important;
    min-width: 100vw !important;
}

#gameTitle {
    font-size: 35px;
    color: $puregold;
}

#kingQueenRowCont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 100vw !important;
    // border: 5px solid hotpink;
}

#table {
    // style={{ height: '50px', width: '50px' }}
    height: 50px;
    width: 50px;
    margin-top: 1.5em;
}

#table:hover { cursor: none; }

.kingQueenCard {
    height: 100px; 
    width: 100px;
}
.kingQueenCard:hover { cursor: pointer; }

#cardRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 85vw !important;
    // flex-flow: row wrap;
}

.cardColumn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card {
    height: 55px;
    width: 55px;
    margin-top: 2em;
}

.card:hover { cursor: pointer; }

.cardText {
    font-family: Moon Dance;
    color: $puregold;
    font-size: 25px; 
}
.cardText:hover { cursor: none; }

.ghost {
    opacity: 0.0;
    // color: green;
}

#gameText {
    font-family: Josefin Sans, sans-serif; 
    font-size: 20px; 
    letter-spacing: 0.25em;
    font-weight: bolder;
    color: $puregold;
}

@media only screen and (max-width: 400px) {
    .cardText { font-size: 18px; }
    #cardRow { justify-content: center; }
}
