@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&display=swap');

// * variables
$coneOrange: rgba(255, 166, 0, 0.85);
$bold: bold;


    @mixin bg-color($color) {
        background-color: $color;
           @at-root {
            // .allOrMine {
            //     border: 5px solid hotpink;
            // }
            .allOrMine:hover {
                // color: blue;
                border: 5px solid hotpink;
                // border: 9px solid darken($coneOrange, 80%);
            }
            //   #{&} {
            //      &:hover {
            //         color: black;
            //         color: darken($color, 60%);
            //         border: 5px solid hotpink;
            //         background-color: darken($color, 10%);
            //      }
                 
            //   }
           }
        }
       

// @mixin hover-active {
//         color: blue;
//         &:hover {
//             .no-touch & {
//                 @content;
//             }
//         }
//         &:active {
//         color: white;
//         .touch & {
//             @content;
//       }
//     }
//   }

.div {
    height: 15em;
    width: 15em;
    border: 9px solid rgba(255, 166, 0, 0.85); 
    // border: 9px solid rgba(255, 166, 0, 0.85); 

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: blanchedalmond;
    border-radius: 50%;    
    
    .helmet {
        height: 10em;
        width: 10em;
    }
    
    .barrier {        
        height: 50px;
        // *  height: 30px; this becomes half its height upon some behavior because it turns the face into a smile
        width: 5em;
    }
}

.row {
    min-width: 100vw;    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;  

}

.Grid {
    border: 5px solid hotpink;
    max-width: 30%;
    display: grid;
    gap: 5em;
    grid-template-rows: 1fr repeat();
}

.Magnify {    
    height: 5%;
    width: 5%;
    background-image: url('/img/Magnify.png');
    margin: 0 5em;
}

.MagnifyCont {
    // background-image: url('/img/magnify.png');
    height: 15em;
    width: 15em;
    // margin: 0 5em;
}

.MagnifyCont:focus {
    outline: none !important;
    border: 5px solid transparent;
    color: transparent;
}

.Magnify2 {     // this is for the cool looking logo for the trophy room.
    height: 300px;
    width: 300px;
    background-image: url('/img/Magnify.png');    
}

.h1 {
    font-size: 35px;
    letter-spacing: 1.25em;
    font-family: Lemon-Milk;
    // font-family: papyrus;
    color: papayawhip;
    text-align: center;
//     margin: 0 3em;
}

.p {
    font-family: 'Moon Dance', cursive;
    font-size: 25px;
    color: papayawhip;
}

.MineImg {
    height: 20em;
    width: 20em;
    // border: 2px solid papayawhip;
    border-radius: 50%;
    box-shadow: 18px 10px 10px papayawhip;
}

.MiniGoldBar {
    // height: 2em;
    // width: 2em;
    height: 50px;
    width: 50px;
    // border: 5px solid hotpink;
    // color: transparent;
    // border: 1px solid gold;
    background-image: url('/img/gold.png');    
    background-size: 25%;
    transform: rotate(45deg);
    background-repeat: no-repeat;
    // transform: scale(2.0);
}

// .css('color', 'transparent')
// .css('border', '1px solid transparent')
// .css('background-color', 'transparent')
// .css('margin-top', '4em')
// .css('background-image', "url('/img/gold.png')")
// .css('background-size', 'cover')
// .css('background-repeat', 'no-repeat')

.Shovel {
    height: 85px;
    width: 85px;
}

.TextParent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;    

    div {
        margin: 0 5em;  // sass makes more sense knowing this'll be all the div children
    }
}

.DisplayCaseCone {
    height: 3vh;
    width: 3vw;    
    margin: 2em 2em;
}

// * selected search page:
#SelectedSearchBox {
    padding: 0.75em;
    width: 50%;
    border: 9px solid $coneOrange; 

    display: flex;
    justify-content: center;
    flex-direction: column;


    .allOrMine  {       // love sass for quickness there won't be any other buttons that can reach this code. can save on HTML className={} code never thought of that.
        margin: 0 3em;
        background-color: peachpuff;
        font-family: 'Moon Dance', cursive;
        color: blanchedalmond;
        @include bg-color($coneOrange);
    }
}
    
    // .allOrMine:hover {
    //     // color: 9px solid rgba(255, 166, 0, 0.85);         
    //     border: 5px solid hotpink;
    // }

// * 
