.div {
    height: 15em;
    width: 15em;
    border: 9px solid rgba(255, 166, 0, 0.85); 

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: blanchedalmond;
    border-radius: 50%;    
    
    .helmet {
        height: 10em;
        width: 10em;
    }
    
    .barrier {        
        height: 50px;
        // *  height: 30px; this becomes half its height upon some behavior because it turns the face into a smile
        width: 5em;
    }
}

.row {
    min-width: 100vw;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;  
}

.Magnify {    
    height: 5%;
    width: 5%;
    background-image: url('/img/Magnify.png');
    margin: 0 5em;
}

.MagnifyCont {
    // background-image: url('/img/magnify.png');
    height: 15em;
    width: 15em;
    // margin: 0 5em;
}

.MagnifyCont:focus {
    border: 5px solid transparent;
}

.Magnify2 {     // this is for the cool looking logo for the trophy room.
    height: 300px;
    width: 300px;
    background-image: url('/img/Magnify.png');    
}

.h1 {
    font-size: 35px;
    letter-spacing: 1.25em;
    font-family: Lemon-Milk;
    // font-family: papyrus;
    color: papayawhip;
    text-align: center;
//     margin: 0 3em;
}

.MineImg {
    height: 20em;
    width: 20em;
    // border: 2px solid papayawhip;
    border-radius: 50%;
    box-shadow: 18px 10px 10px papayawhip;
}

.TextParent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;    

    div {
        margin: 0 5em;  // sass makes more sense knowing this'll be all the div children
    }
}
