$puregold: rgb(247, 208, 32);
$whip: papayawhip;
$milk: 'Lemon-Milk';
$dance: 'Moon Dance', cursive;
$ugg: moccasin;

#constraintGrid {
    margin-top: 0.25em;
    align-self: center;
    height: 7em;
    width: 200px;
    border: 4px solid $puregold; 
    background-color: $whip;
    padding: 0.25em;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-areas:
    // "a b b b"
    // "a b b b"
    // "a b b b";
    "radiobuttonbox"
    "constraintText"
}