#cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#cont:hover {
    cursor: none;
}

#gold {
    height: 10px;
    width:  30px;
    align-self: flex-end;
    opacity: 0.0;
}

.gold { 
    animation-name: flash;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.goldFast {
    animation-name: flash;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
    

#pickaxe {
    height: 75px;
    width: 75px;    
}

.pick {     
    animation-name: pick;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.pickFast {
    animation-name: pick;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes pick {
    0% {
    
    }
    20% {
        transform: rotate(30deg);
    }    
}

@keyframes flash {
    0% { 
        opacity: 0.0;
    }
    15% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
}

