// @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,100&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Moon+Dance&display=swap');

// @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,100&family=Poppins:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,100&family=Poppins:ital,wght@1,200&family=Press+Start+2P&display=swap');


$whip: papayawhip;
$puregold: rgb(247, 208, 36);

#cont {
    max-height: 50vh !important;
    min-height: 40vh !important;
    min-width: 50vw !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    // border: 10px solid #563887;
    // box-shadow: 10px 15px 10px #a25de6;
    // box-shadow: 15px 9px 10px#B01E28;

    // overflow-y: scroll;
    // overflow: hidden;
}

#innerCont {
    // border: 5px solid hotpink;
    height: 400px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

#mainRow {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#text {
    font-family: Press Start 2P;
    // font-family: Moon Dance;
    color: $whip;
    text-shadow: 10px 15px 10px #a25de6;
    text-shadow: 15px 9px 10px#B01E28;    
    margin-top: 100px;
    font-size: 12px;
}