#cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: space-between;
    padding: 0 2em;
}

.img {
    height: 75px;
    width: 75px;
    position: relative;
    top: -2em;
}

@media only screen and (max-width: 400px) {
    .img {
        height: 50px;
        width: 50px;
    }
}