@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,100&display=swap');

.flex {
    display: flex;

}


// * column Flex Classes
.centerYcenterXcolumn {    
    justify-content: center;    // this is the Y-axis for column.
    align-items: center;        // could see this as redundant to type over and over. the alternative could be to have {direcion: row || column} class 
    flex-direction: column;
}
.endYcenterXcolumn {
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}
// * column Flex Classes

// ? row Flex Classes 
.centerYcenterXrow {
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.centerYbetweenXrow {    
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
// ? row Flex Classes 


// * element styling (non-layout)
#HelmetCont {
    margin-top: 1.5em;
}
.GoldBar {
    height: 10em;
    width: 10em;
}

.UserText {
    font-family: 'Lemon Milk';    
    font-size: 22px; 
    font-weight: bold;
    color: papayawhip;
}

.MiniGoldBar {    
    height: 50px;
    width: 50px;
    background-image: url('/img/gold.png');    
    background-size: 25%;
    transform: rotate(45deg);
    background-repeat: no-repeat;    
    margin-top: 1.5em;
    cursor: pointer;    
}

#LoginDiv {
    background-image: url('/img/mirror.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 30em;
    width: 30em;    
}


// * elements 

// ? components
// * * * * * * * * SignupConstraints
#ConstraintGrid {
    height: 10em;
    width: 25em;
    border: 4px solid rgb(247, 208, 32); 
    background-color: papayawhip;
    padding: 0.25em;
    display: grid;
    grid-template-areas:
    "a b b b"
    "a b b b"
    "a b b b";
}

#ConstraintA {
    border: 4px solid hotpink;
    grid-area: a;
}

#ConstraintB {
    border: 4px solid blue;
    grid-area: b;
}

// * * * * * * * *

// ? components
