$whip: papayawhip;
$puregold: rgb(247, 208, 36);
$brownzer: rgb(62, 50, 32);

#Cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 0 2em;
}

#multiIconCont {
    display: flex;
    justify-content: center;
    align-items: center;
}


.img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 0 1.25em;
}

#mine { box-shadow: 2px 2px 2px $whip; }
#mine:hover { background-color: $whip; box-shadow: 4px 4px 4px $puregold; }

@media only screen and (max-width: 450px) {
    .img { height: 35px; width: 50px; margin: 0 0.5em; }
}

@media only screen and (max-width: 300px) {
    .img { height: 25px; width: 25px; margin: 0 0.25em; }
}
    