@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&display=swap');

$whip: papayawhip;
$puregold: rgb(247, 208, 36);

#cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

#userNameText {
    color: $puregold;
    font-family: Josefin Sans;   
}

#img {
    height: 65px;
    width: 65px;
}