.input {
    background: transparent;
    outline: none;
    border: none;
    color: #B31B38;
    // color: #B31B38; // color: #CD2527; // color: #A41648;            // spare parts for other lipstick color CSS
    margin-top: 0.05em;
    font-family: Moon Dance;
    width: 40%;   
    font-size: 18px;
    margin-top: 0.05em;
  }
  
  .input:hover { border: 2px solid papayawhip; }
  
  .input:focus { 
      outline: none; 
      border: none;
  }

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
