@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&display=swap');

$whip: papayawhip;
$puregold: rgb(247, 208, 36);
$brownzer: rgb(62, 50, 32);

#StrainFooterCont {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 2em;
    font-size: 18px;
    // width: 80%;
    // padding: 0 30% 2em 30%;
    // display: grid;
    // justify-content: center;
    // align-content: center;
    // grid-template-columns: 1fr 1fr 1fr;
    // max-width: 100%;
    // align-items: center;
}

// #KeyCont {
//     background-color: $whip;
//     border-radius: 2.5%;
//     color: $brownzer;
//     min-height: 80px;
//     width: 100px;
//     margin: 0.25em 0.25em;

//     display: grid;
//     justify-content: center;
//     align-items: center;
//     text-transform: uppercase;
//     letter-spacing: 0.025em;
//     font-family: 'Josefin Sans', sans-serif;
// }

#ValueCont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // background-color: $whip;
    color: $brownzer;
    border-radius: 2.5%;
    height: 80px;
    min-width: 40%;
    margin: 0.25em 0.25em;
    display: grid;
    justify-content: center;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
}

#ValueCont {
// #KeyCont, #ValueCont {
    box-shadow: 4px 4px 4px rgb(247, 208, 32);    
    border: 2.5px solid rgb(247, 208, 36);
    font-weight: bolder;
    align-self: center;
}

.span {
    letter-spacing: '1.25';
    font-family: 'Lemon-Milk';
    /* transform: scale(2.0);             */
    font-size: 35px;
    color: $whip;
    text-shadow: 10px 10px 10px rgb(247, 208, 32);    
}

.span:hover { color: $puregold; }

.pre {
    font-size: 18px; 
    text-shadow: 35px 25px 55px white;
    box-shadow: 35px 25px 55px orange;
    font-weight: bolder;
    background-color: $whip;
    text-align: center;
    margin-top: -0.05px;
}


#pick {
    height: 50px;
    width: 50px;
    text-shadow: 35px 25px 55px white;
    box-shadow: 35px 25px 55px orange;
    border-radius: 50%;
}






#ValueCont:hover { box-shadow: 3px 3px 9px $whip; }
// #KeyCont:hover, #ValueCont:hover { box-shadow: 3px 3px 9px $whip; }

// .li:hover { box-shadow: 3px 3px 9px $whip; }

@media only screen and (max-width: 2000px) {
    // #StrainFooterCont { padding: 0 20% 2em 20%; }
    #ValueCont { font-size: 18px;  }
    // #KeyCont, #ValueCont { font-size: 18px;  }
}

@media only screen and (max-width: 800px) {
    #StrainFooterCont { padding: 0 10% 2em 10%; justify-content: center; }
    #ValueCont { font-size: 15px;  }
    // #KeyCont, #ValueCont { font-size: 15px;  }
}

@media only screen and (max-width: 600px) {
    .span { font-size: 20px; }
    #ValueCont { font-size: 12px; }
    // #StrainFooterCont { padding: 0 10% 2em 10%; justify-content: center; }
    // #ValueCont { font-size: 15px;  }
    // #KeyCont, #ValueCont { font-size: 15px;  }
}

@media only screen and (max-width: 400px) {
    #StrainFooterCont { position: relative; top: -1em; }

    .pre { font-size: 16px;  }
}
