#coneContainer {
    display: flex;
    justify-content: center;
    align-items: center;  
    align-self: flex-start;  
    margin-top: 0.245em;
    max-width: 100vw;
    border-bottom: 5px solid papayawhip;
    min-height: 7vh;
}

.cone {
    height: 45px; 
    width: 45px;
    margin-top: 0.25em 0.25em 0 0.25em;
}

.cone:hover { cursor: pointer; }

@media only screen and (max-width: 600px) {
    .cone { height: 35px; width: 35px; }
}

@media only screen and (max-width: 500px) {
    #coneContainer { min-height: 2.5vh; }
    .cone { height: 25px; width: 25px; }
}

@media only screen and (max-height: 800px) {
    #coneContainer {
        position: relative;
        left: -50px; 
    }
}
