#Cont {
    display: flex;
    justify-content: space-between;
    align-items: center;    
    padding: 0 2em 1em 2em;
}

#heatRow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    height: 50px;
    width: 50px;
}