$whip: papayawhip;

#Cont {
    max-height: 50vh !important;
    max-width: 50vw !important;
    display: flex;
    justify-content: center;
    align-items: space-between;
    flex-direction: column;
    
    // for scrolling through the container
    // overflow-y: scroll;
}

.ghost { opacity: 0.0; color: transparent;   }
// .ghost { opacity: 0.0; color: transparent; padding: 10% 0;  }

// .li {
//     text-align: center;
//     background-size: cover;
//     background-repeat: no-repeat;
//     width: 100%;           
//     margin: 1.1em;
//     list-style-type: none;
//     font-size: 22px;
//     color: papayawhip;
//     line-height: 12.9em;    
//     text-shadow: 1px 1px 1px rgb(247, 208, 36);    
//     box-shadow: 3px 3px 9px papayawhip;
// }