#Cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2em;
}

.img {
    height: 75px;
    width: 75px;    
    margin-bottom: 2em;
}

@media only screen and (max-width: 400px) {
    #Cont { position: relative; top: -3em; }

    .img {
        height: 50px;
        width: 50px;
    }
}

