@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&display=swap');

$whip: papayawhip;

#Cont {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: fit-content;
}

#rowCont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    // padding: 0 30%;
    width: stretch;
}

.columnCont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.goldLoginSignup {
    height: 50px;
    width: 50px;
    // margin: 0 4em;
    margin: 0 7em;
}

.goldLoginSignup:hover { cursor: pointer; }

.ghostPre {
    opacity: 0.0;
}

.loginSignupPre {
    font-family: Moon Dance;
    color: $whip;
}

.loginSignupPre:hover { cursor: none; }


#helmet {
    height: 100px;
    width: 100px;
}

#helmet:hover { cursor: pointer; }

@media only screen and (max-width: 2000px) {
    #helmet {
        height: 225px;
        width: 225px;
    }

    .goldLoginSignup {
        height: 125px;
        width: 125px;
    }
}

@media only screen and (max-width: 1400px) {
    #helmet {
        height: 200px;
        width: 200px;        
    }
}

@media only screen and (max-width: 800px) {
    #helmet { 
        height: 150px;
        width: 150px;
    }

    .goldLoginSignup {
        height: 50px;
        width: 50px;
        // margin: 0 4em;
        margin: 0 4em;
    }
}

@media only screen and (max-width: 400px) {
    .goldLoginSignup {
        margin: 0 2em;
    }
}