#Cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // padding: 0 2em;
    // padding: 0 2em -2em 2em 0;
    padding: 0 2em 1em 2em;
}

#heartRow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    height: 50px;
    width: 50px;
}

@media only screen and (max-width: 400px) {
    #Cont { justify-content: center; position: relative; top: -2em; }
    #heartRow { margin: 0 0.25em; }
}
