.ColumnCenter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
    height: 60vh;
    width:  80vw;
    color: papayawhip;
    box-shadow: 10px 10px 10px rgb(247, 208, 32);    
    border: 3px solid rgb(247, 208, 36);
}

.BstrapContCard {
    margin: 3em;
}

.ul {
    width: 60%;    
    
    .li {
        text-align: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;            // if i don't have width: 100% the li is only the length of the <li> { data } </li>
        margin: 1.1em;
        list-style-type: none;
        font-size: 22px;
        color: papayawhip;
        line-height: 12.9em;    
        text-shadow: 1px 1px 1px rgb(247, 208, 36);    
        box-shadow: 3px 3px 9px papayawhip;
    }
    
}

@mixin BgBtnImg {
    background-image: '/img/gold.png';
    background-size: cover;
    background-repeat: no-repeat;  
    background-color: blue;
}

#BgButton {
    @include BgBtnImg
    // background-image:  url(BgBtnImg);
    // background-size: cover;
    // background-repeat: no-repeat;
}

#InvisibleInput {
    // border: 5px solid orange;
    border: transparent;
}
// * possible phone settings.
// min-height: 10%;
// min-width: 10%;
