html,
body {
  padding: 0;
  margin: 0;
  font-family: open-sans;  
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.card-text { 
  /* background-color: transparent; */
  /* background-color: rgb(62, 50, 32); */
  /* background-color: blue; */
 } 

/* .card {          
  border-radius: 50%;
} */

.Column {
  /* border: 5px solid orange; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.goldFinger {
  color: 'white';
  text-shadow: '35px 25px 55px white';
  box-shadow: '35px 25px 55px orange';
  /* font-weight: 'bold'; */
}

/* .PickMineCont {
  transform: scale(0.2);
  border: 5px solid hotpink;
} */

.PickMineP {
  margin-top: 2em;  
}

li {
  align-self: flex-start;
  /* position: relative;   */
  background-image: url('/img/gold.png');
  background-position: right 90%;
  background-size: 30%;
  background-repeat: repeat;
}

 ::-webkit-scrollbar {
  width: 40px;
  } 
  
  /* Track */
  ::-webkit-scrollbar-track {
  box-shadow: inset 5px 9px 5px grey;
  border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
  background: papayawhip;
  border-radius: 10px;
  }
