@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&display=swap');

$whip: papayawhip;
$puregold: rgb(247, 208, 36);

#icon {
    height: 150px;
    width: 150px;
  }

#usernameText {
  font-family: Josefin Sans;
  font-size: 24px;
  color: $puregold; 
}

.ghost { opacity: 0.0; }

@media only screen and (max-width: 800px) {
    #icon {
        height: 125px;
        width: 125px; 
    }
    #usernameText { font-size: 18px; }
  }
  
  @media only screen and (max-width: 400px) {
    #icon {
      height: 75px;
      width: 75px;
    }
    // #helmet {
      //     height: 85px;
      //     width: 85px; 
      // }
    #usernameText { font-size: 10px; }
}

